<ion-header>
  <ion-toolbar>
    <ion-title>Proces Verbaal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Proces Verbaal</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container></app-explore-container>
  <ion-grid [hidden]="procesverbaalService.notFoundPV">
    ID: {{procesverbaalService.procesverbaalSpecific.procesverbaalID}} <br>
    Naam: {{procesverbaalService.procesverbaalSpecific.naam}} <br>
    Opleiding: {{procesverbaalService.procesverbaalSpecific.opleiding}} <br>
    Studiejaar: {{procesverbaalService.procesverbaalSpecific.studiejaar}} <br>
    Credits: {{procesverbaalService.procesverbaalSpecific.credits}} <br>
    Eindcijfer: {{procesverbaalService.procesverbaalSpecific.eindcijfer}} <br>
    Prestatie Indicator: {{procesverbaalService.procesverbaalSpecific.prestatieindicatoren}} <br>
    Gewicht: {{procesverbaalService.procesverbaalSpecific.gewichten}} <br>
    Gelegenheid 1: {{procesverbaalService.procesverbaalSpecific.gelegenheid1}} <br>
    Gelegenheid 2: {{procesverbaalService.procesverbaalSpecific.gelegenheid2}} <br>
    Cijfer: {{procesverbaalService.procesverbaalSpecific.cijfer}}
  </ion-grid>
</ion-content>
